[submodule "PastSauce/oldPrj-SchoolTask_BomberProject-public"]
	path = PastSauce/oldPrj-SchoolTask_BomberProject-public
	url = https://github.com/xtatrax/oldPrj-SchoolTask_BomberProject-public.git
[submodule "PastSauce/oldPrj-SchoolTask-M.L.P"]
	path = PastSauce/oldPrj-SchoolTask-M.L.P
	url = https://github.com/xtatrax/oldPrj-SchoolTask-M.L.P.git
